:root {
  /*colors*/

  --primaryColor: #6366f1;
  --primaryHover: #4f46e5;
  --colorText: #e2e8f0;
  --colorMuted: #94a3b8;
  --colorHighlight: #818cf8;
  --colorBackground: #0f172a;
  --colorCard: #1e293b;
  --colorBorder: #334155;
  --colorMenuHover: rgba(40, 39, 39, 0.2);

  /*typography*/

  --fontFamily: "Inter", sans-serif;
}
